<div class="">
  <div class="test">
    <img src="{{bannerProduct?.defaultImageUrl}}" alt="{{bannerProduct?.name}}" class="landing-img">
    <div class="product-content"><span class="new-arival-marker">New arrival</span>
      <div class="title ">{{bannerProduct?.name}}</div>
      <div class="price">£{{bannerProduct?.price}}</div>
      <div class="button-container"><button id="btn-explore" style="cursor:pointer" (click)="explore()" class=''>Explore
          &amp; buy</button></div>
    </div>


  </div>
  <div class="img-grid">
    <div *ngFor="let product of products; let i = index" class="prod-img-container">
      <div *ngIf="i < 2" class="" (click)="goToProductDetailPage(product)" style="cursor:pointer">
        <p class="buy-button montserrat">BUY</p>
        <img src="{{product?.defaultImageUrl}}" alt="{{product?.name}}" class="prod-img">
        <p class="prod-name-text montserrat">{{product?.name}}</p>
        <p class="prod-price-text montserrat">£{{product?.price}}</p>
      </div>

    </div>

  </div>
</div>
